### This file is a sample environment file for use with the project.
#set -o allexport (or set -a)
#source env.example
#set +o allexport (or set +a)

# This should be random in production deployment used in session security.
SECRET_KEY="somesecretkey"

# Development or production.
ENVIRONMENT="Development"
LOGGING="True"

# OpenID Connect Specific Parameters
OIDC_DOMAIN="auth.something.auth0.com"
OIDC_CLIENT_ID="someclientid"
OIDC_CLIENT_SECRET="somesecret"

SERVER_NAME="localhost:5000"
PERMANENT_SESSION=True
PERMANENT_SESSION_LIFETIME=900
