[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
awscli = "*"
pylint = "*"
autopep8 = "*"

[packages]
credstash = "*"
boto = "*"
flask-secure-headers = "*"
Flask = "*"
Flask-Bootstrap = "*"
Flask-Login = "*"
Flask-pyoidc = "*"
Werkzeug = "*"
