
html, body {
    margin:0;
    padding:0;
    overflow:hidden;
    background-color: #f0f0f0;
    font-family: sans-serif;
}

.labelold {
    font-family:  Impact;
    text-shadow: 0 0 1px rgba(0,255,255,0.95);
}

.label {
    font: 10px/1.2 Impact;
    width: 7em;  /* 80 x 0.6 (the width/height ratio of Courier) */
    overflow: hidden;
    text-align: center;
    text-shadow: 0 0 1px rgba(0,255,255,0.95);
}

/* easy transition timings 200/400 miliseconds */
.tran4 {
    -o-transition: all 400ms;
    -moz-transition: all 400ms;
    -webkit-transition: all 400ms;
}

.tran2 {
    -o-transition: all 200ms;
    -moz-transition: all 200ms;
    -webkit-transition: all 200ms;
}

/*upper case the first letter*/
.firstUpper:first-letter {
    text-transform: uppercase
}

/* http://www.sitepoint.com/css3-sliding-menu/ */
leftnav {
    position: fixed;
    left: -12em;
    top: 0;
    bottom: 0;
    /*background-color: #654;*/
    background-color: #444444;
    border-right: 15px solid #765;
    box-shadow: 4px 0 5px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left;
    display: inline-block;
    height: 100%;
    margin: 0em;
    line-height: normal;
    color:#fff;
}

/*pull out triangle*/
leftnav:after {
    position: absolute;
    content: ' ';
    width: 0;
    height: 0;
    right: -75px;
    top: 50%;
    border-width: 30px 30px;
    border-style: solid;
    border-color: transparent transparent transparent #765;
}

leftnav ul {
    width: 14em;
    list-style-type: none;
    margin: auto;
    padding: 1em;
}

leftnav div {
    margin:auto;
}

leftnav p {
    margin:auto;
    padding-left: .5em;
    padding-right: .5em;
    padding-top: .5em;
}

leftnav:hover {
    left: 0;
}

leftnav .filters-col .row {
    margin-top: 45px;
    padding: 0 0.5em;
}

leftnav .reset-filter {
    text-align: center;
    margin-top: 20px;
}

leftnav {
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

#rightpanel {
    position: fixed;
    width: 480px;
    top: 0;
    bottom: 0;
    height:100%;
    right:-520px;
    box-shadow: 0px 0px 15px black;
    background: white;
    padding: 2px;
    outline: 0;
    display: inline-block;
    z-index: 1;

    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

#rightpanel.on {
    right: 0px;
}

#rightPanelClose {
    text-align: right;
}

/* right panel accordian */

.serviceName {
    text-transform: uppercase;
}

.systemGroup {
    text-transform: uppercase;
}

h3, ul {
    margin:0;
    padding:0;
    list-style:none;
}
h3{
    background: #bbb;
    color:#fff;
    padding:2px;
    border:1px groove;
    border-radius:2px 2px 0 0;
    text-shadow:1px 1px 1px rgba(1,0,0,0.25);
}
li div {
    padding:0;
    height:0;
    background:#eee;
    overflow:hidden;
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -ms-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    transition:all 0.5s ease;
}
/*height of the right panel detail space */
li h3:hover + div, li div:hover {
    height: 400px;
    overflow: auto;
}

.tt-menu {
    max-height: 150px;
    overflow-y: auto;
    padding: 4px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: black;
    width: 422px;
    margin-top: 4px;
}

/*table row font sizing */
tr {
    font-family: Courier;
    font-size: small;
}

